<% provide :title, @faculty.faculty_name %>
<div class="blog_area">
  <div class="container">
    <div class="row">
      <%= render ("slidebar") %>
      <div class="col-md-8">
        <div class="blog_detaisl_area">
          <div class="blog_full_content">
            <h3 class="centered show_title"><%= @faculty.faculty_name %></h3>
            <div class="blog_meta">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
